<div class="container__content">
  <div class="col-lg-5" style="text-align: left">
    <button [routerLink]="['']" type="button" class="btn btn-primary mt-3">
      VOLTAR
    </button>
  </div>
  <div class="content__cover mt-5">
    <img src="{{ photoCover }}" alt="" srcset="" />
  </div>
  <div class="content__title mt-2">
    <h1>{{ contentTitle }}</h1>
    <hr />
  </div>
  <div class="content__description">
    <p>
      {{ contentDescription }}
    </p>
  </div>
  <div class="content__description">
    <a href="{{linkDescription}}">
      <button type="button" class="btn btn-info">Saiba Mais</button>
    </a>
  </div>
</div>
