<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main mt-5">
    <app-big-card
      Id="1"
      photoCover="https://lh3.googleusercontent.com/p/AF1QipPUK4GTX4rB6N_t65ows-8Z3S4xTLio4Fq_lGy2=w1080-h608-p-no-v0"
      cardTitle="CONHEÇA NOSSOS SERVIÇOS"
      cardDescription="Manutenção de PC e Notebook"
      >
    </app-big-card>

  </div>
  <div class="articles__others mt-5">
    <app-small-card
      Id="2"
      cardTitle="Marvel's Avengers - The Definitive Edition"
      photoCover="../../../assets/image/_Marvel'sAvengers.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="A Plague Tale Innocence"
      photoCover="../../../assets/image/A_Plague_Tale_Innocence.png"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Dark Sector"
      photoCover="../../../assets/image/Dark_Sector.png"
    >
    </app-small-card>
  </div>
</div>
